
<!-- cette template n'est pas utilisée -->

<div class="subShowPlanet">
<section>
    <div class="inner">
        <div class="fond">
            <h1 data-sr="enter top over 2.6s">Naboo</h1>
        </div>
    </div>
</section>
<section id="content1">
    <div class="inner">
        <h2 data-sr="enter top over 2.6s">Caractéristiques physiques</h2>
        <div class="cont" id="content1">
            <div data-sr="enter left and move 100px over 2.6s" class="un">
                <h3>Surface immergée</h3>
                <img src="img/pourcentage.jpg"/>
            </div>
            <div data-sr="enter top over 2.6s" class="deux">
                <h3>Capitale</h3>
                <img src="img/capitale.png" class="cap" />
                <p>Theed</p>
            </div>
            <div data-sr="enter right and move 100px over 2.6s" class="trois">
                <h3>Gravité</h3>
                <img src="img/one.png"/>
            </div>
        </div>
    </div>
</section>
<section id="content2">
    <div class="inner">
        <h2 data-sr="enter top over 2.6s" style="padding-top: 3%;">Données géographiques</h2>
        <div class="cont">	
            <div data-sr="enter left and move 100px over 2.6s" class="un">
                <h3>Zone galactique</h3>
                <img src="img/loupe.png"/>
                <p>Bordure Médiane</p>
            </div>
            <div data-sr="enter top over 2.6s" class="deux">
                <h3>Lunes</h3>
                <img src="img/lunes.png"/>
                <p>Rori, Tasia, Ohma d'un</p>
            </div>
            <div data-sr="enter right and move 100px over 2.6s" class="trois">
                <h3>Soleil</h3>
                <img src="src/media/img/1.jpg"/>
            </div>
        </div>
    </div>
</section>
<section id="content3">
    <div class="inner">
        <h2 data-sr="enter top over 2.6s" style="padding-top: 3%;">Caractéristiques sociétales</h2>
        <div class="cont">	
            <div data-sr="enter left and move 100px over 2.6s" class="un">
                <h3>Nombre d'habitants</h3>
                <P>plus de 625 millions</P>
                <img src="img/pop.jpg"/>
            </div>
            <div data-sr="enter top over 2.6s" class="deux">
                <h3>Population</h3>
                <img src="img/bust.png"/>
                <p>Humains<br/>Gungans</p>
            </div>
            <div data-sr="enter right and move 100px over 2.6s" class="trois">
                <h3>Affiliation</h3>
                <p>Nouvelle république<br/>Empire galactique<br/>République galactique<br/></p>
            </div>
        </div>
    </div>
</section>
<section id="content4">
    <div class="inner">
        <h2 data-sr="enter top over 2.6s"style="padding-top: 3%;">Batailles</h2>
            <div data-sr="enter left and move 100px over 2.6s" class="mechants">
                <img style="margin-left:20%;"src="img/federation.jpg"/>
                <img src="img/ds.jpg"/>
                <h3>Troupes</h3>
                <img src="cab.png"/>
                <img src="img/droide0.jpg"/>
                <img src="img/droide.png"/>
            </div>
            <div data-sr="enter right and move 200px over 2.6s" class="gentils">
                <img src="img/gungan.jpg"/>
                <img src="img/anakin.jpg"/>
                <img src="img/padme.jpg"/>
                <img src="img/gun.jpg"/>
                <h3>Troupes</h3>
        </div>
    </div>
</section> <!-- tue, victoires  darkmaul -->
<section>
    <div class="inner">
        <div data-sr="enter top over 2.6s" class="content">
        <h2>Citations</h2>
        <p>- Voussa pense votre peuple allez mourir ? Et Gungan y passer aussi ? <br/><br/>- J'espère que non.<br/><br/>- Gungan pas y passer sans combattre. Noussa grands guerriers, noussa grande armée pour ça voussapprécient pas noussa, missa pense.</p>
        </div>
    </div>
</section>
</div>