<div class="calendar">
   <div class="corps">
        <header>
            <div class="header">
                <h1>Le calendrier dans <br/>Star Wars</h1>
            </div>
            <img src="img/lta.jpg" class="mz" data-sr="enter left move 50px reset">
        </header>
        <article>
            <div class="base">
                <img src="img/corus.jpg" data-sr="enter left move 50px reset"/>
                <div class="droite" data-sr="enter right move 50px reset">
                    <h2><br/><br/><br/>Base</h2>
                    <p>Le calendrier de Star wars a été créé en fonction du Système solaire de Coruscant.
                    Cette planète est en quelques sorte la capitale du monde de Star 
                    Wars puisqu’elle accueille le temple Jedi, le sénat galactique et le bureau du Chancelier.</p>
                </div>
            </div>
            <div class="zero">
                <div class="text" data-sr="enter left move 50px reset">
                    <h2><br/><br/><br/>zero</h2>
                    <p >L’an zero a commencé à la bataille de Yavin, lors de la destruction par Luke Skywalker de l’étoile de la mort construite par l’empereur. Auparavant, plusieurs calendriers existaient mais personne n’etait d’accord sur le bon.</p>
                </div>
                <img src="img/yavin.jpg" class="droite" data-sr="enter right move 50px reset"/>
            </div>
            <div class="rules">
                <img src="img/time.jpg" data-sr="enter left move 50px reset"/>
                <div class="droite" data-sr="enter right move 50px reset">
                    <h2><br/><br/><br/>Les règles</h2>
                    <p>60 secondes = 1 minute<br/>60 minutes = 1 heure<br/>24 heures = 1 jour<br/>5 jours = 1 semaine<br/>7 semaines = 1 mois<br/>368j = 1 an <br/>1 an = 10 mois + 3 semaines de festival + 3 vacances</p>
                </div>
            </div>	
        </article>
    </div>
</div>